<div class="container">
  <div class="formgroup">
    <div class="fieldgroup" (click)="onDepartureInputClick($event)">
      <input [value]="departureDay" class="datefield" placeholder="Departure" readonly="true" type="text" tabindex="0">
      <span class="calendaricon"></span>
    </div>
    <div class="fieldgroup" (click)="onReturnInputClick($event)">
      <input [value]="returnDay" class="datefield" placeholder="Return" readonly="true" type="text" tabindex="0">
      <span class="calendaricon"></span>
    </div>
  </div>
  <calendar *ngIf="showCalendar && selectedDate" [first]="departure" [startDate]="startDate" [selectedDate]="selectedDate" (dateSelected)="onDaySelected($event)" (clickOutside)="onClickOutside()"></calendar>
</div>
